<html>
	<head>
		<title> op.gg </title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1> 롤 전적 검색 </h1>
		<form action="/search">
			아이디 : <input type="text" name="id">
			<input type="submit">
		</form>
	</body>
</html>